<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="Ja2pHdx5nvgVuZc86PP-W8xAETsSrppfN6D_SNSmAAA" />
    <meta http-equiv="Content-Security-Policy"
        content="frame-ancestors 'self' https://drive.google.com https://accounts.google.com">
    <meta http-equiv="X-Frame-Options" content="ALLOW-FROM https://drive.google.com">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/{{cssFileName}}.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/root.css">
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
</head>