<div class="profile__information">
    {{#if isAuth}}
        <button class="friends__button" data-active="">My Friends</button>
        <div class="friends__wrapper">
            <div class="friends__wrapper__content">
                
            </div>
        </div>
        <a class="profile__link" href="/profile">
            <div class="profile__user">
                <img src="" class="profile__user__avatar" alt="">
                <span class="profile__username">{{profileName}}</span>
            </div>
        </a>
    {{else}}
    <a href="/auth">
        <div class="auth__google">
            <img class="google__logo" src="https://cdn-icons-png.flaticon.com/128/300/300221.png" alt="">
            <span class="google__text">Authenticate with Google</span>
        </div>
    </a>
    {{/if}}
</div>