<div class="faq__container">
    <header class="header animated fadeInRight">
        <a href="/main">
            <div class="header__logo__wrapper">
                <img class="header__logo" src="/img/menu-logo.png" alt="">
                <h2 class="header__title">Talk Time</h2>
            </div>
        </a>
    </header>
    <div class="faq__content">
        <div class="faq__title__wrapper">
            <h1 class="faq__title animated fadeInLeft">FAQ</h1>
            <span class="animated fadeInRight">How to use & frequent questions</span>
        </div>
        <div class="faq__information">
            <div class="faq__wrapper animated fadeInRight">
                <div class="faq">
                    <span class="faq__text">How to use?</span>
                    <button class="faq__plus faq__button">+</button>
                    <button class="faq__close faq__button">-</button>
                </div>
                <div class="faq__info">
                    <span class="faq__info__text">Install talk time and make sure it is in your chrome extensions. When
                        you are at the meet you can open "Participants" tab and see small green-and-white box in
                        right-bottom corner - it is talk time. Also the new page will be opened, it is VAD (voice
                        activity detection) page, which captures your voice in order to build audio graphs.</span>
                </div>
            </div>
            <div class="faq__wrapper animated fadeInLeft">
                <div class="faq">
                    <span class="faq__text">Is talk time free?</span>
                    <button class="faq__plus faq__button">+</button>
                    <button class="faq__close faq__button">-</button>
                </div>
                <div class="faq__info">
                    <span class="faq__info__text">Talk time is absolutely free, everyone can use it without any payments
                        or providing card details.</span>
                </div>
            </div>
            <div class="faq__wrapper animated fadeInRight">
                <div class="faq">
                    <span class="faq__text">Switching chrome tabs during the meeting?</span>
                    <button class="faq__plus faq__button">+</button>
                    <button class="faq__close faq__button">-</button>
                </div>
                <div class="faq__info">
                    <span class="faq__info__text">You can switch tab during the meeting in chrome, talk time will be
                        working. Don`t forget to keep your VAD tab open, so that talk time can capture your voice to
                        build audio graph.</span>
                </div>
            </div>
            <div class="faq__wrapper animated fadeInLeft">
                <div class="faq">
                    <span class="faq__text">Features?</span>
                    <button class="faq__plus faq__button">+</button>
                    <button class="faq__close faq__button">-</button>
                </div>
                <div class="faq__info">
                    <span class="faq__info__text">Talk time provides private messaging, ability to send badges during or
                        after meeting, leave feedbacks, view audio activity, percentage of talking time, leave notes
                        about the meeting and provides you with recording and chat of your meeting.</span>
                </div>
            </div>
            <div class="faq__wrapper animated fadeInRight">
                <div class="faq">
                    <span class="faq__text">Talk time doesn`t display?</span>
                    <button class="faq__plus faq__button">+</button>
                    <button class="faq__close faq__button">-</button>
                </div>
                <div class="faq__info">
                    <span class="faq__info__text">Please make sure that you`ve already installed talk time, and there
                        are not any bugs or errors in your chrome extensions tab. Also talk time works if your chrome
                        language is english, otherwise (for example ukrainian) it won`t work</span>
                </div>
            </div>
            <div class="faq__wrapper animated fadeInRight">
                <div class="faq">
                    <span class="faq__text">Don`t see recording or it is not correct one?</span>
                    <button class="faq__plus faq__button">+</button>
                    <button class="faq__close faq__button">-</button>
                </div>
                <div class="faq__info">
                    <span class="faq__info__text">Recording of the meeting is large file, so if you see something like white box with 403 forbidden text , just reload the page , if you see not correct recording (it can be recording of another meeting), also just reload the page. If these actions don`t help, please Contact Me</span>
                </div>
            </div>
            <div class="faq__additional animated fadeInLeft">*If you have other questions, please, <a
                    href="/contacts">Contact Me</a></div>
        </div>
    </div>
    <script src="/js/faq.js"></script>