<div class="hall-of-fame__container">
    {{>menu}}
    <div class="hall-of-fame__wrapper">
        {{>navigate}}
        <div class="hall-of-fame">
            <div class="hall-of-fame__users__wrapper">
                {{#each topUsers}}
                    <div class="hall__of__fame__card">
                        <div class="hall__of__fame__user__header">
                            <img class="hall__of__fame__user__header__badge" src="/img/{{badgeToImage @key}}" alt="">
                            <span>{{@key}}</span>
                        </div>
                        <div class="hall__of__fame__user__content">
                            {{#each this}}
                                <div class="hall__of__fame__user">
                                    <div class="hall__of__fame__user__info">
                                        <img class="user__place__image" src="" alt="">
                                        <span>{{name}}</span>
                                    </div>
                                    <div class="hall__of__fame__badges__count">
                                        {{count}}
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<script src="/js/hall-of-fame.js"></script>