<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/notfound.css">
<div class="notfound__container">
    <div class="notfound__content">
        <div class="notfound__title__wrapper">
            <h1 class="notfound__title">404</h1>
            <span class="notfound__text">There is no page you looking for. Please, make sure that URL or request is correct.</span>
            <a class="notfound__main__link" href="/"><button class="notfound__button">Main page</button></a>
        </div>
    </div>
</div>