<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/notfound.css">
<div class="notfound__container">
    <div class="notfound__content">
        <img src="/img/404.png" class="notfound__image" alt="">
        <span class="notfound__text">It seems you`re lost, but maybe that button below can help you</span>
        <a class="notfound__main__link" href="/"><button class="notfound__button">Main page</button></a>
    </div>
</div>