<div class="policy" style="display: flex; flex-direction: column; text-align: center; padding: 20px 50px 20px 50px;">
    <h1 style="margin-bottom: 20px;">Privacy Policy for the "Talk Time" Extension</h1>

    <h2>Privacy Statement</h2>

    <span style="margin: 10px 0 20px 0; font-size: 20px; ">Your privacy is important to us. This privacy policy pertains to the use and collection of data by the "Talk
        Time"
        extension for Google Chrome. This policy describes how we collect, use, and protect your personal data.</span>

    <h2>Data We Collect</h2>

    <span style="margin: 10px 0 20px 0; font-size: 20px; ">
        The "Talk Time" extension collects the following data:

        1.Full Username
        2.User Email
    </span>

    <h2>How We Use Your Data</h2>

    <span style="margin: 10px 0 20px 0; font-size: 20px; ">We use the collected data solely for the purpose of enhancing the functionality of the "Talk Time" extension.
        Specifically, we use this data for:

        User identification and personalization of the extension's features.

    </span>

    <h2>Data Security</h2>

    <span style="margin: 10px 0 20px 0; font-size: 20px; ">We take data security seriously. Your data is stored securely, and we have implemented measures to protect it
        from
        unauthorized access.</span>

    <h2>Google Sign-In</h2>

    <span style="margin: 10px 0 20px 0; font-size: 20px; ">The "Talk Time" extension offers registration through Google. In this case, your Google account information is
        used for
        authentication, and we do not have access to your Google account password.</span>

    <h2>Third-Party Access</h2>

    <span style="margin: 10px 0 20px 0; font-size: 20px; ">We do not share your data with third parties, and the "Talk Time" extension does not involve advertising,
        geolocation
        tracking, or any similar functionalities.</span>

    <h2>Updates to the Privacy Policy</h2>

    <span style="margin: 10px 0 20px 0; font-size: 20px; ">We may update this privacy policy to reflect changes in our practices. We encourage you to review this policy
        periodically.</span>

    <h2>Contact Us</h2>

    <span style="margin: 10px 0 20px 0; font-size: 20px; ">If you have any questions or concerns about this privacy policy or the "Talk Time" extension, please contact
        us at
        +380952039987.</span>

    <span style="margin: 10px 0 20px 0; font-size: 20px; ">This privacy policy is effective as of 25.10.2023.</span>
</div>