<div class="quiz__wrapper">
    {{>menu}}
    <div class="quiz__content">
        {{>navigate}}
        <div class="quiz__welcome__wrapper">
            <h1 class="quiz__title">Knowlege Quiz</h1>
            <span class="quiz__description">Test your knowlege about badges and teamwork in Nobel!</span>
            <button class="quiz__start">Start quiz</button>
        </div>
        <div class="quiz">
            <div class="quiz__item">
                <h3 class="quiz__question">1. What does it mean to create a "Zen Environment" in class?</h3>
                <div class="answers__wrapper" data-question="2">
                    <label><input type="radio" class="answer" name="answer1">A. Loud and chaotic atmosphere</label>
                    <label><input type="radio" class="answer" name="answer1">B. Calm and focused atmosphere</label>
                    <label><input type="radio" class="answer" name="answer1">C. Competitive and stressful atmosphere</label>
                    <label><input type="radio" class="answer" name="answer1">D. Random and unpredictable atmosphere</label>
                </div>
            </div>
            <div class="quiz__item">
                <h3 class="quiz__question">2. How can students contribute to maintaining a Zen Environment?</h3>
                <div class="answers__wrapper" data-question="2">
                    <label><input type="radio" class="answer" name="answer2">A. Being disruptive and talkative</label>
                    <label><input type="radio" class="answer" name="answer2">B.Remaining calm and focused</label>
                    <label><input type="radio" class="answer" name="answer2">C.Ignoring others' needs</label>
                    <label><input type="radio" class="answer" name="answer2">D.Creating unnecessary stress</label>
                </div>
            </div>
            <div class="quiz__item">
                <h3 class="quiz__question">3. In the context of a Zen Environment, what is discouraged?</h3>
                <div class="answers__wrapper" data-question="3">
                    <label><input type="radio" class="answer" name="answer3">A. Mindful and relaxed behavior</label>
                    <label><input type="radio" class="answer" name="answer3">B. Collaboration and teamwork</label>
                    <label><input type="radio" class="answer" name="answer3">C. Unnecessary noise and distractions</label>
                    <label><input type="radio" class="answer" name="answer3">D. Quick and efficient problem-solving</label>
                </div>
            </div>
            <div class="quiz__item">
                <h3 class="quiz__question">4. What does the "On Time" badge encourage?</h3>
                <div class="answers__wrapper" data-question="2">
                    <label><input type="radio" class="answer" name="answer4">A. Being consistently late</label>
                    <label><input type="radio" class="answer" name="answer4">B. Arriving promptly and meeting deadlines</label>
                    <label><input type="radio" class="answer" name="answer4">C. Ignoring schedules and timelines</label>
                    <label><input type="radio" class="answer" name="answer4">D. Procrastinating on tasks</label>
                </div>
            </div>
            <div class="quiz__item">
                <h3 class="quiz__question">5. How does being on time contribute to a positive learning environment?</h3>
                <div class="answers__wrapper" data-question="4">
                    <label><input type="radio" class="answer" name="answer5">A. It doesn't have any impact on the learning environment</label>
                    <label><input type="radio" class="answer" name="answer5">B. Creates unnecessary stress for everyone</label>
                    <label><input type="radio" class="answer" name="answer5">C. Causes chaos and disorganization</label>
                    <label><input type="radio" class="answer" name="answer5">D. Promotes a sense of responsibility and discipline</label>
                </div>
            </div>
            <div class="quiz__item">
                <h3 class="quiz__question">6. What is the main emphasis of the "Be Brief" badge?</h3>
                <div class="answers__wrapper" data-question="2">
                    <label><input type="radio" class="answer" name="answer6">A. Providing lengthy and detailed responses</label>
                    <label><input type="radio" class="answer" name="answer6">B. Communicating thoughts concisely</label>
                    <label><input type="radio" class="answer" name="answer6">C. Ignoring questions and concerns</label>
                    <label><input type="radio" class="answer" name="answer6">D. Speaking slowly and elaborately</label>
                </div>
            </div>
            <div class="quiz__item">
                <h3 class="quiz__question">7. Which of the following behaviors aligns with the "Be Brief" principle?</h3>
                <div class="answers__wrapper" data-question="2">
                    <label><input type="radio" class="answer" name="answer7">A. Rambling and repeating points</label>
                    <label><input type="radio" class="answer" name="answer7">B. Using concise and clear language</label>
                    <label><input type="radio" class="answer" name="answer7">C. Avoiding communication altogether</label>
                    <label><input type="radio" class="answer" name="answer7">D. Using complex and confusing vocabulary</label>
                </div>
            </div>
            <div class="quiz__item">
                <h3 class="quiz__question">8. How can facilitators integrate "fun" into the learning process?</h3>
                <div class="answers__wrapper" data-question="2">
                    <label><input type="radio" class="answer" name="answer8">A. Avoiding any elements of enjoyment to maintain seriousness</label>
                    <label><input type="radio" class="answer" name="answer8">B. Incorporating interactive activities and games to enhance learning</label>
                    <label><input type="radio" class="answer" name="answer8">C. Discouraging student participation in extracurricular activities</label>
                    <label><input type="radio" class="answer" name="answer8">D. Prioritizing strict discipline over students' happiness</label>
                </div>
            </div>
            <div class="quiz__item">
                <h3 class="quiz__question">9. In the context of the "Be Present" badge, why is active listening considered a crucial element?</h3>
                <div class="answers__wrapper" data-question="2">
                    <label><input type="radio" class="answer" name="answer9">A. Ignoring others' contributions and perspectives</label>
                    <label><input type="radio" class="answer" name="answer9">B. Demonstrating respect and understanding towards others</label>
                    <label><input type="radio" class="answer" name="answer9">C. Avoiding any form of communication during class</label>
                    <label><input type="radio" class="answer" name="answer9">D. Focusing solely on personal thoughts and opinions</label>
                </div>
            </div>
            <div class="quiz__item">
                <h3 class="big__question__title">Read the paragraph and answer the next 5 questions accordingly. </h3>
                <span class="big__question__text">Abinash and Danylo are in the Introduction to Web Design meeting. While Danylo is trying to concentrate to the facilitator, answer most of the questions, help his friends out while congratulating them and understand the activities, Abinash keeps unmuting himself and when he talks with permisson he always has so many background noises. Their other friend Azra, is always, at least, 10 minutes late. When she is in the class, she keeps talking for too long. Just like Danylo, Yun is trying to listen, participate and is kind enough to give a helping hand to his other friends when they need. Thankfully, the facilitator, Dilruba, is such a fun soul that she keeps lighting up the mood and cracks jokes.</span>
            </div>
            <div class="quiz__item">
                <h3 class="quiz__question">10. Which badge(s) does Danylo deserve?</h3>
                <div class="answers__wrapper" data-question="1,2,3">
                    <label><input type="checkbox" class="answer">Encourage</label>
                    <label><input type="checkbox" class="answer">Be Present</label>
                    <label><input type="checkbox" class="answer">Help</label>
                    <label><input type="checkbox" class="answer">Zen Environment</label>
                    <label><input type="checkbox" class="answer">Fun</label>
                </div>
            </div>
            <div class="quiz__item">
                <h3 class="quiz__question">11. Which badge(s) does Abinash not deserve?</h3>
                <div class="answers__wrapper" data-question="1">
                    <label><input type="checkbox" class="answer">Zen Environment</label>
                    <label><input type="checkbox" class="answer">Fun</label>
                    <label><input type="checkbox" class="answer">Encourage</label>
                    <label><input type="checkbox" class="answer">Be Present</label>
                    <label><input type="checkbox" class="answer">Help</label>
                </div>
            </div>
            <div class="quiz__item">
                <h3 class="quiz__question">12. Which badge(s) does Azra not deserve?</h3>
                <div class="answers__wrapper" data-question="1,2">
                    <label><input type="checkbox" class="answer">On Time</label>
                    <label><input type="checkbox" class="answer">Bee Brief</label>
                    <label><input type="checkbox" class="answer">Fun</label>
                    <label><input type="checkbox" class="answer">Encourage</label>
                    <label><input type="checkbox" class="answer">Help</label>
                </div>
            </div>
            <div class="quiz__item">
                <h3 class="quiz__question">13. Which badge(s) does Yun deserve?</h3>
                <div class="answers__wrapper" data-question="2,3,5">
                    <label><input type="checkbox" class="answer">Fun</label>
                    <label><input type="checkbox" class="answer">Help</label>
                    <label><input type="checkbox" class="answer">Be Present</label>
                    <label><input type="checkbox" class="answer">Bee Brief</label>
                    <label><input type="checkbox" class="answer">Encourage</label>
                </div>
            </div>
            <div class="quiz__item">
                <h3 class="quiz__question">14. Which badge(s) does Dilruba deserve?</h3>
                <div class="answers__wrapper" data-question="1">
                    <label><input type="checkbox" class="answer">Fun</label>
                    <label><input type="checkbox" class="answer">Bee Brief</label>
                    <label><input type="checkbox" class="answer">Help</label>
                    <label><input type="checkbox" class="answer">Be Present</label>
                    <label><input type="checkbox" class="answer">Encourage</label>
                </div>
            </div>
            <button class="finish__quiz">Finish</button>
        </div>
    </div>
    <div class="not__all__answers__modal"></div>
</div>
<script src="/js/quiz.js"></script>