<link rel="stylesheet" href="/css/quiz.css">
<div class="quiz__results__container">
    <h1 class="quiz__results__title">{{title}}</h1>
    <span class="quiz__results__text">{{text}}</span>
    <a href="/dashboard/{{url}}/{{date}}"><button class="quiz__results__return__main">Return to Dashboard</button></a>
</div>