<link rel="stylesheet" href="/css/auth.css">
<div class="reset__container">
    <form class="auth__form reset__form" action="">
        <h1 class="reset__title">Reset your password</h1>
        <label for="">Your sign up email</label>
        <div class="input__wrapper">
            <div class="input__icon__wrapper">
                <i class="fi-xnsuxl-lock-solid input__icon"></i>
            </div>
            <input required class="reset__input email__input" placeholder="user@mail.com" required type="text">
        </div>
        <label for="">Your new password</label>
        <div class="input__wrapper">
            <div class="input__icon__wrapper">
                <i class="fi-xnsuxl-lock-solid input__icon"></i>
            </div>
            <input required class="reset__input password__input" placeholder="12345678" required type="password">
        </div>
        <label for="">Repeat password</label>
        <div class="input__wrapper">
            <div class="input__icon__wrapper">
                <i class="fi-cnsdxl-undo input__icon"></i>
            </div>
            <input required class="reset__input repeat__password__input" placeholder="12345678" required type="password">
        </div>
        <button class="auth__button reset__button">Reset</button>
    </form>
</div>
<script defer src="https://friconix.com/cdn/friconix-0.2607.js"></script>
<script src="/js/reset.js"></script>