<div class="users__container">
    {{>menu}}
    <div class="users__list">
        {{>navigate}}
        <div class="users__content">
            <span class="users__instructions">* Please note that users are loaded as you scroll the page, so if you want
                to see the full list, use search or use filters, scroll down the page</span>
            <input type="text" class="users__search" placeholder="🔎︎ Seach users">
            <div class="users">
            </div>
        </div>
    </div>
</div>
<script src="/js/users.js"></script>
<script src="/js/helpers/search.js"></script>