<div class="welcome__container">
    <header class="main__header animated fadeInLeft">
        <a href="/main">
            <div style="display: flex;">
                <img class="header__logo" src="/img/menu-logo.png" alt="">
                <h2 class="header__title">Talk Time</h2>
            </div>
        </a>
    </header>
    <div class="welcome__content">
        <div class="welcome__text">
            <h1 class="welcome__title animated fadeInRight">WELCOME</h1>
            <span class="welcome__description animated fadeInLeft">Start making your meetings
                more comfortable <br /> and communicate more efficiently</span>
            <a href="/main"><button class="welcome__trynow animated fadeInRight">Try now</button></a>
        </div>
        <div class="welcome__cards">
            <div class="welcome__card welcome__card__3 welcome__card__left animated fadeInLeft">
                <img class="welcome__badges__img" src="/img/badges.png" alt="">
                <span>Gain new<br /> badges</span>
            </div>
            <div class="welcome__card welcome__card__2 welcome__card__left animated fadeInRight">
                <img class="welcome__message__img" src="/img/message-card.png" alt="">
                <span>Private <br /> messaging</span>
            </div>
            <div class="welcome__card welcome__card__1 animated fadeInLeft">
                <img class="welcome__meet__img" src="/img/meet.png" alt="">
                <span>Your every<br /> meeting</span>
            </div>
            <div class="welcome__card welcome__card__2 welcome__card__right animated fadeInRight">
                <img class="welcome__feedback__img" src="/img/feedback-card.png" alt="">
                <span>Feedback<br /> system</span>
            </div>
            <div class="welcome__card welcome__card__3 welcome__card__right animated fadeInLeft">
                <img class="welcome__statistic__img" src="/img/statistic.png" alt="">
                <span>Meeting<br /> statistic</span>
            </div>
        </div>
    </div>
</div>

