body {
    overflow-y: hidden;
}

.dashboard__container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.dashboard {
    width: calc(100vw - 230px);
    height: 100vh;
}

.dashboard__content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.dashboard__search {
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(226, 226, 226);
    padding: 15px;
}

.dashboard__meeting__info__wrapper {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.dashboard__meeting__info {
    width: 25%;
    height: 100%;
    background: white;
    border-radius: 10px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard__meeting__info>div>span:nth-child(2) {
    font-size: 12px;
    color: #969696;
}

.dashboard__meeting__info div {
    display: flex;
    flex-direction: column;
}

.dashboard__meeting__info:first-child {
    margin-left: 30px;
}

.dashboard__meeting__info__icon {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 100px;
}

.dashboard__meeting__info__icon__green {
    background: rgba(59, 250, 139, 0.4);
}

.dashboard__meeting__info__icon__green img {
    filter: invert(48%) sepia(92%) saturate(1048%) hue-rotate(98deg) brightness(100%) contrast(103%);
}

.dashboard__meeting__info__icon__orange {
    background: rgba(255, 148, 48, 0.4);
}

.dashboard__meeting__info__icon__orange img {
    filter: invert(45%) sepia(65%) saturate(1656%) hue-rotate(3deg) brightness(97%) contrast(97%);
}

.dashboard__meeting__info__icon__blue {
    background: rgba(0, 153, 255, 0.4);
}

.dashboard__meeting__info__icon__blue img {
    filter: invert(23%) sepia(71%) saturate(4509%) hue-rotate(189deg) brightness(93%) contrast(101%);
}

.dashboard__meeting__info__icon__pink {
    background: rgba(255, 29, 206, 0.4);
}

.dashboard__meeting__info__icon__pink img {
    filter: invert(9%) sepia(95%) saturate(6637%) hue-rotate(307deg) brightness(106%) contrast(102%);
}

.dashboard__meeting__info__icon img {
    width: 32px;
}

.dashboard__users__notes {
    width: 100%;
    height: fit-content;
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
}

.dashboard__users {
    width: calc(50% - 8px);
    height: calc(100vh - 265px);
    padding-right: 5px;
}
.dashboard__users__list {
    overflow-y: scroll;
    height: calc(100vh - 295px);
    width: 100%;
}
.dashboard__users__names {
    width: 100%;
    height: 30px;
    background: white;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.dashboard__users__names div {
    font-size: 12px;
    color: #969696;
}

.dashboard__user {
    width: 100%;
    height: 55px;
    background: white;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
}

.user__info {
    width: 190px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.user__avatar {
    border-radius: 100px;
    width: 32px;
    margin-right: 7px;
    height: 32px;
}

.user__percents,
.user__rating {
    width: 120px;
    height: fit-content;
}

.user__percents>span,
.user__rating span {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #99D6FF;
    color: #0070B8;
    width: fit-content;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    font-size: 12px;
}

.dashboard__notes {
    width: 100%;
    height: fit-content;
    transition: .2s all ease;

}

.notes__input__wrapper {
    width: 100%;
    height: 40px;
    display: flex;
    margin-bottom: 10px;
}

.notes__input {
    width: 80%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    outline: none;
    border: 1px solid rgb(226, 226, 226);
    padding: 15px;
}

.add__note {
    width: 20%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 0 5px 5px 0;
    background: #FFA5EB;
    color: #D600A7;
    cursor: pointer;
}

.notes {
    width: 100%;
    height: calc(100vh - 340px);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.note {
    width: calc(50% - 5px);
    height: 130px;
    display: flex;
    padding: 10px;
    background: white;
    flex-direction: column;
    border-radius: 5px;
    margin-bottom: 10px;
}

.note:nth-child(odd) {
    margin-right: 10px;
}

.note__text {
    color: black;
    font-size: 14px;
}

.no__notes {
    margin-left: 15px;
    display: none;
}

.view__feedbacks__button {
    width: 120px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #FFD4AC;
    color: #ED7304;
    cursor: pointer;
}

.note__sender {
    width: 100%;
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 0 5px 0;
}

.note__sender__name {
    font-size: 14px;
}

.delete__note,
.edit__note,
.save__note {
    width: 70px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    border: none;
    outline: none;
}

.edit__note {
    background: #FFD4AC;
    color: #ED7304;
}

.delete__note {
    background: rgb(255, 201, 191);
    margin-right: 5px;
    color: tomato;
}

.save__note {
    background: #B1FDD1;
    color: #00D03E;
    display: none;
}

.edit__note {
    margin-right: 5px;
}

.note__options {
    display: flex;
    height: fit-content;
}

.note__avatar {
    width: 24px;
    border-radius: 100px;
    margin-right: 5px;
}

.note__text__wrapper {
    width: 100%;
    height: 55px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

button:disabled {
    background: lightgray;
    color: gray;
    cursor: not-allowed;
}

.edit__note__text {
    width: 95%;
    height: 55px;
    border: 1px solid rgb(230, 230, 230);
    outline: none;
    resize: none;
    display: none;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
}

.dashboard__transcription {
    height: calc(100vh - 265px);
    overflow-y: scroll;
    width: 100%;
    transition: .2s all ease;
    display: none;
}
.notes__transcription {
    width: calc(50% - 15px);
    height: calc(100vh - 265px);
    overflow-y: scroll;
}
.transcription__item {
    margin-bottom: 20px;
}

.transcription__wrapper {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(224, 224, 224);
    padding: 10px;
}

.transcription__avatar {
    width: 24px;
    height: 24px;
    border-radius: 100px;
    margin-right: 5px;
}

.transcription__header {
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-bottom: 5px;
}

.transcription__text {
    font-size: 12px;
}

.transcription__time {
    color: rgb(79, 79, 79);
}
.transcription__switch, .notes__switch {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    color: gray;
    cursor: pointer;
}