.user__badges__list__wrapper {
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user__badges__container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
}

.user__badges__title {
    margin-bottom: 20px;
    color: white;
}

.user__badges__wrapper {
    padding: 0 25px 0 25px;
    height: calc(100vh - 70px);
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 10px;
    align-content: flex-start;
    justify-content: center;

}
.user__badges__wrapper::-webkit-scrollbar {
    width: 3px;
}
.user__badges__wrapper::-webkit-scrollbar-thumb {
    background: #ceafff;
}
.user__badges__wrapper::-webkit-scrollbar-track {
    display: none;
}
.user__badge {
    width: calc((100% / 5) - 10px);
    height: 60px;
    background: #7952dd;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
    border-radius: 100px;
}
.user__badge__img {
    width: 48px;
    margin-right: 5px;
}
.user__badge__info {
    display: flex;
    flex-direction: column;
    color: white;
}