@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'DM Sans', sans-serif;
}
body {
  background: #fcfcfc;
}
.container {
  flex-direction: column;
}
body::-webkit-scrollbar {
  display: none;
}
.menu {
  display: none !important;
}
.main__header {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 26px;
}
.main__wrapper {
  height: 100vh;
}
.main__wrapper, .meetings {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.meetings {
  height: 100vh;
}
.main__arrow {
  width: 40px;
  cursor: pointer;
}
.main__title {
  font-size: 96px;
  margin-bottom: 5px;
  color: black;

}
.main__subtitle {
  margin-bottom: 15px;
  font-size: 20px;
  text-align: center;
}
.meeting {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 20px;
  align-items: center;
  margin-bottom: 5px;
}
.meeting__info {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.list__of__meetings {
  height: 220px;
  max-height: 220px;
  width: 700px;
  overflow-y: scroll;
  padding-right: 5px;
}
.empty__list__of__meetings {
  height: 220px;
  max-height: 220px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.empty__meetings__img {
  width: 128px;
  margin-bottom: 5px;
  filter: invert(67%) sepia(46%) saturate(0%) hue-rotate(136deg) brightness(104%) contrast(123%);
}
.empty__meetings__text {
  color: #d4d4d4;
}
.general {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  font-size: 18px;
  background: white;
  border-radius: 5px;
  border: 1px solid rgb(223, 223, 223);
  margin-bottom: 5px;
}
.search__generals {
  width: 700px;
  margin-bottom: 5px;
  height: 50px;
  padding: 10px;
  outline: none;
  background: transparent;
  border-radius: 5px;
  background: white;
  border: 1px solid rgb(230, 230, 230);
}
.search__generals::placeholder {
  font-size: 16px;
}
 
.meetings__title {
  margin-bottom: 20px;
  font-size: 72px;
  transition: .6s all ease;
}
.dashboard__button {
  width: 100px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  color: #0070B8;
  background: #99D6FF;
}
.select__general {
  width: 30px;
  height: 30px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 100px;
  transform: rotate(90deg);
  cursor: pointer;
  background: #99D6FF;
  border: none;
}
.select__general > img {
  width: 12px;
  filter: invert(27%) sepia(58%) saturate(2623%) hue-rotate(184deg) brightness(96%) contrast(101%);
  transform: rotate(-90deg);
}
.meetings__content {
  display: none;
  transition: .5s ease all;
}
.main__button {
  height: 40px;
  width: 160px;
  border: none;
  outline: none;
  border-radius: 0 3px 3px 0;
  background: #B1FDD1;
  color: #00D03E;
  cursor: pointer;
}
.main__meeting__date {
  font-size: 14px;
  color: rgb(65, 65, 65);
}
.profile__information {
  position: fixed;
  top: 15px;
}