.send__feedback__wrapper {
    width: 100%;
    height: 100vh;
}
.form__wrapper {
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form {
    width: 500px;
    height: 500px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
label {
    margin-bottom: 5px;
}
input, select {
    height: 35px;
}
textarea {
    resize: none;
    height: 100px;
}
input, textarea, select {
    margin-bottom: 15px;
    outline: none;
    border-radius: 5px;
    border: none;
    background: rgb(245, 245, 245);
}
input:not([type="file"]), .send__feedback__text {
    padding: 15px;
}
.send__feedback__file::file-selector-button {
    width: 100px;
    height: 100%;
    cursor: pointer;
    outline: none;
    background-color: #673FCC;
    border: none;
    border-radius: 5px;
    color: white;
}
input[type="file"] {
    background: white;
}
.send__feedback__submit {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #754AE2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.send__feedback__name, .send__feedback__badges {
    padding-left: 10px;
}