.personal__feedbacks {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.personal__feedbacks__title {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
.personal__feedback__wrapper {
    width: 100%;
    height: calc(100vh - 180px);
    padding: 0 30px 10px 30px;
}
.personal__feedbacks__content {
    overflow-y: hidden;
    width: calc(100vw - 230px);
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

.personal__feedbacks__content::-webkit-scrollbar {
    width: 3px;
}

.personal__feedbacks__content::-webkit-scrollbar-thumb {
    background: #ab76ff;
}

.personal__feedback__img__wrapper {
    width: 512px;
    height: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    box-shadow: 0 5px 100px -28px rgb(0, 0, 0, 75%);
    transition: visibility 0.3s, opacity 0.4s ease;

}

.personal__feedback__img {
    width: 512px;
    border-radius: 10px 10px 0 0;
}

.personal__feedback__close__img {
    width: 100%;
    height: 40px;
    background: tomato;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
}

.personal__feedback__empty__text {
    color: white;
    font-size: 18px;
    align-self: center;
}

.personal__feedback {
    width: calc((100% / 3) - 14px);
    height: fit-content;
    background: white;
    border: 1px solid rgb(228, 228, 228);
    padding: 10px;
    border-radius: 5px;
    z-index: 0;
}

.personal__feedback__top {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.personal__feedback__user {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.personal__feedback__avatar {
    width: 32px;
    border-radius: 100px;
    height: 32px;
    margin-right: 5px;
}

.personal__feedback__user>div {
    width: fit-content;
    color: black;
}

.personal__feedback__date {
    font-size: 14px;
}

.rating__wrapper {
    width: fit-content;
    height: fit-content;
    align-items: center;
    display: flex;
}

.personal__feedback__text {
    font-size: 16px;
    color: black;
    word-wrap: break-word;
}

.rating {
    color: #F1C40F;
    margin-right: 3px;
    font-size: 18px;
}

.personal__feedback__view__image,
.personal__feedback__read__less,
.personal__feedback__read__more {
    width: 30px;
    height: 30px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background: #FFD4AC;
    color: #fd8a1e;
}
.personal__feedback__view__image {
    margin-left: 10px;
}
.feedback__image {
    width: 16px;
    filter: invert(72%) sepia(94%) saturate(3546%) hue-rotate(347deg) brightness(105%) contrast(98%);
}
.personal__feedbacks__buttons {
    display: flex;
    align-items: center;
}
.personal__feedback__read__less {
    display: none;
}

.personal__feedback__hidden {
    display: none;
}

.personal__feedback__buttons {
    display: flex;
}

.personal__feedbacks__filters__wrapper {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.personal__feedbacks__image__filter, .personal__feedbacks__high__filter, .personal__feedbacks__low__filter, .personal__feedbacks__date__filter {
    width: 120px;
    height: 30px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #0070B8;
    cursor: pointer;
    transition: .3s ease all;
    background: #99D6FF;
    outline: none;
    border: none;
}
.personal__feedbacks__filter__icon {
    width: 24px;
    margin-right: 10px;
    filter: invert(27%) sepia(100%) saturate(1078%) hue-rotate(178deg) brightness(99%) contrast(103%);
}
button:disabled {
    background: gray;
}
.date__range__wrapper {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 40px;
    display: none;
}
.date__range {
    height: 40px;
    width: fit-content;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.date__input {
    margin-right: 10px;
    background: transparent;
    outline: none;
    border: 1px solid #0070B8;
    height: 30px;
    padding: 5px;
    border-radius: 100px;
}
.date__input::-webkit-datetime-edit-text { color: #0070B8; }
.date__input::-webkit-datetime-edit-month-field { color: #0070B8; }
.date__input::-webkit-datetime-edit-day-field { color: #0070B8; }
.date__input::-webkit-datetime-edit-year-field { color:  #0070B8; }
/* .date__input::-webkit-inner-spin-button { display: none; } */
.date__input::-webkit-calendar-picker-indicator { filter: invert(30%) sepia(83%) saturate(1239%) hue-rotate(178deg) brightness(94%) contrast(103%); }

.apply__date__filter {
    width: fit-content;
    height: 30px;
    border-radius: 100px;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    background: #99D6FF;
    color: #0070B8;
    cursor: pointer;
}
.empty__feedbacks, .no__feedbacks {
    color: #99D6FF;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.no__feedbacks {
    display: flex;
}
.empty__feedbacks {
    display: none;
}
.empty__feedbacks__img {
    filter: invert(81%) sepia(4%) saturate(5704%) hue-rotate(178deg) brightness(99%) contrast(107%);
    width: 128px;
    margin-bottom: 10px;
}
.empty__filter {
    justify-content: center !important;
    align-items: center !important;
}
.empty__title {
    font-size: 20px;
}
.empty__text {
    font-size: 16px;
}
.leave__feedback__button {
    width: fit-content;
    height: 30px;
    border: none;
    outline: none;
    background: #FFD4AC;
    color: #fd8a1e;
    border-radius: 100px;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
}
.personal__feedbacks__list {
    width: 100%;
    height: calc(100vh - 240px);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: scroll;
}
.leave__feedback__link {
    color: #57b9ff;
    font-size: 20px;
}
.rating__statistic {
    padding: 10px 25px 10px 25px;
    height: 110px;
    width: calc(100vw - 230px);
    display: flex;

}
.average__rating__wrapper {
    width: fit-content;
    height: 90px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 5px;
    border: 1px solid rgb(228, 228, 228);
    margin-right: 10px;
}
.rating__levels {
    width: fit-content;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rating__level {
    width: fit-content;
    height: 10px;
    display: flex;
    align-items: center;
}
.rating__out {
    width: 200px;
    height: 100%;
    background: rgb(238, 238, 238);
    margin-right: 10px;
    border-radius: 100px;
}
.rating__in {
    background: #F1C40F;
    border-radius: 100px;
}
.rating__value {
    width: 25px;
    margin-right: 5px;
}
.personal__feedback__user__data {
    width: 100%;
}