.profile__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-y: hidden;
    flex-direction: column;
}

.profile__container>.navigate {
    width: 100%;
}

.profile__banner {
    width: 100%;
    height: 200px;
    padding: 30px;
    display: flex;
    align-items: center;
    background: url('https://img.freepik.com/free-vector/gradient-grainy-gradient-background_23-2149903371.jpg?size=626&ext=jpg&ga=GA1.1.436933427.1697803731&semt=ais');
    background-size: 100%;
    background-attachment: cover;
}

.profile__banner__avatar {
    width: 100px;
    border-radius: 100px;
    margin-right: 10px;
    border: 2px solid white;
}

.profile__user__info {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    color: white;
}

.profile__banner__username {
    font-size: 22px;
}

.profile__content {
    height: calc(100vh - 260px);
    width: 100%;
    display: flex;
}

.profile__content__menu {
    width: 350px;
    height: 100%;
    padding-left: 30px;
    border-right: 1px solid #E0E0E0;
    padding-right: 10px;
}

.profile__content__menu__item , .profile__logout{
    width: 100%;
    height: 73px;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.profile__content__menu__icon {
    width: 28px;
    margin-right: 10px;
}

.profile__content__menu__item::after, .profile__logout::after {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    background-color: #6da7ff;
    height: 2px;
    transition: right 0.5s ease;
    transform: scaleX(0);
    transform-origin: right;
}

.profile__content__menu__item:hover .profile__content__menu__icon, .profile__logout:hover > .profile__content__menu__icon {
    filter: invert(62%) sepia(96%) saturate(1608%) hue-rotate(190deg) brightness(99%) contrast(104%);
    transition: .3s ease all;
}

.profile__content__menu__item:hover , .profile__logout:hover{
    color: #6da7ff;
    transition: .3s ease all;
}

.profile__content__menu__item:hover::after, .profile__logout:hover::after {
    right: 0;
    transform: scaleX(1);
}
.profile__tabs {
    width: calc(100vw - 350px);
    height: 100%;
}
.profile__meetings {
    height: 100%;
    width: 100%;
}
.profile__meeting, .profile__feedback, .profile__note {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 10px;
}
.profile__meeting:not(:last-child), .profile__feedback:not(:last-child), .profile__note:not(:last-child) {
    margin-bottom: 20px;
}
.profile__meeting__info {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.profile__tab {
    padding: 20px;
    display: none;
    overflow-y: scroll;
    height: calc(100vh - 260px);
}
.profile__tab__active {
    display: block;
}
.profile__meeting__name {
    margin-bottom: 3px;
}
.profile__meeting__date {
    font-size: 14px;
    color: rgb(131, 131, 131);
}
.profile__meeting__visit {
    width: 130px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #89ABED;
    color: white;
    cursor: pointer;
}
.profile__note__user {
    width: fit-content;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.profile__note__avatar {
    width: 28px;
    border-radius: 100px;
    margin-right: 5px;
}
.profile__note__sender b, .profile__feedback__sender b {
    color: rgb(121, 121, 121);
    font-weight: lighter;
}
.profile__badge {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
    padding: 0 0 20px 0;
}
.profile__badge:not(:last-child) {
    margin-bottom: 20px;

}
.profile__badge__info {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
}
.profile__badge__image {
    width: 32px;
    border-radius: 100px;
    margin-right: 5px;
}
.profile__badges__collected {
    background: #89ABED;
    color: white;
    border-radius: 7px;
    padding: 10px 15px 10px 15px;
}
.profile__feedback__avatar {
    width: 32px;
    border-radius: 100px;
    margin-right: 5px;
}
.profile__feedback__user {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}