@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

* {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
}

body {
    overflow-x: hidden;
    background: #F8F8F8;
}
.navigate {
    width: calc(100vw - 230px);
    height: 50px;
    background: white;
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
}

.navigate__text {
    font-size: 18px;
    color: #646464;
}
a {
    text-decoration: none;
}
.menu {
    width:  230px;
    height: 100vh;
    background: #00253f;
}

.menu__title {
    margin-bottom: 20px;
    color: white;
    background: #002b49;
    padding: 10px;
}
.menu__title a {
    color: white;
}
.menu__items {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.menu__items>div {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.menu__icon {
    width: 24px;
    margin-right: 10px;
    filter: grayscale(0) invert(1);
}

.menu__item {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}
.invalid__url {
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
}
.container.open__modal .modal__shadow {
    visibility: visible;
    opacity: .6;
}
.container.close__modal .modal__shadow {
    visibility: hidden;
    opacity: 0;
}
.modal__shadow {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: black;
    opacity: 0;
    visibility: hidden;
}
*::-webkit-scrollbar {
    width: 3px;
}

/* Track */
*::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}
i {
    width: 16px;
    height: 16px;
    font-size: 16px;
}
.profile__information {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
}
.profile__information__img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
.profile__information__name {
    font-size: 12px;
}
.logout {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}
.logout img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
.auth__google {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}
.google__logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.google__text {
    color: rgb(129, 129, 129);
}