.signup__form {
    height: 520px;
}
.signup__alert {
    width: fit-content;
    padding: 5px 15px 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0px 0px 30px -15px rgba(165, 165, 165, 0.75);
    position: fixed;
    top: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease all;
    border-radius: 5px;
    font-size: 14px;
}
.signup__alert__text {
    color: rgb(116, 116, 116);
    margin-right: 20px;
}
.signup__alert a {
    color: black;
}
.close__signup__alert {
    cursor: pointer;
}
.auth__button {
    margin-bottom: 20px;
}