.users__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-y: hidden;
}

.users__list {
    height: calc(100vh - 70px);
    width: calc(100% - 230px);
    padding-bottom: 10px;
    align-content: flex-start;
}

.users {
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: calc(100vh - 140px);
    width: 100%;
    align-content: flex-start;
    overflow-x: hidden;
}

.users__content {
    width: 100%;
    height: auto;
    padding: 15px 30px 15px 30px;
}

.user__info {
    width: fit-content;
    display: flex;
    align-items: center;
    height: fit-content;
    color: black;
}

.username__participated {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.user__avatar {
    width: 42px;
    height: 42px;
    border-radius: 100px;
    margin-right: 10px;
    border: 3px solid lightgray;
}

.user {
    width: calc((100% / 3) - 10px);
    height: 70px;
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    background: white;
    justify-content: space-between;
}

.user__profile__button {
    width: 100px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #B1FDD1;
    color: #00D03E;
    cursor: pointer;
}

.user__profile__image {
    width: 16px;
    filter: invert(1) grayscale(0);
}

.user__profile__link {
    width: 100px;
    height: fit-content;
}

.users__search {
    height: 45px;
    border-radius: 5px;
    background: white;
    font-size: 16px;
    border: 2px solid black;
    width: calc(100% - 10px);
    align-self: center;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid rgb(226, 226, 226);
    padding: 15px;
}

.users__search::placeholder {
    font-size: 14px;
}
.users__empty__search {
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}
.empty__users__img {
    width: 128px;
    filter: invert(81%) sepia(4%) saturate(5704%) hue-rotate(178deg) brightness(99%) contrast(107%);
}
.empty__title {
    color: #99D6FF;
}
.users__no__results {
    justify-content: center;
    align-items: center;
    align-content: center;
}