.users__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.users__list {
    padding: 0 25px 0 25px;
    height: calc(100vh - 70px);
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 10px;
    align-content: flex-start;
}
.users__list::-webkit-scrollbar {
    width: 3px;
}
.users__list::-webkit-scrollbar-thumb {
    background: #ab76ff;
}
.user__info {
    width: 70%;
    display: flex;
    align-items: center;
    height: fit-content;
}
.username__participated {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.user__avatar {
    width: 42px;
    border-radius: 100px;
    margin-right: 10px;
}
.user {
    width: calc((100% / 3) - 10px);
    height: 70px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 34px -28px rgba(0,0,0,0.75);
    background: #9067f8;
    border-radius: 10px;
    color: white;
}
.user__profile__button {
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #734bd6;
    color: white;
    cursor: pointer;
}
.user__profile__link {
    width: 150px;
    height: fit-content;
}
.users__search__wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    padding-right: 10px;
}
.users__search {
    height: 45px;
    padding: 0px 10px 0 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: transparent;
    color: white;
    font-size: 16px;
    border: 1px solid rgb(169, 123, 255);
    width: calc(100% - 10px);
    align-self: center;
}
.users__search::placeholder {
    color: white;
    opacity: .7;
}