.users__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-y: hidden;
}

.users__list {
    height: calc(100vh - 70px);
    width: calc(100% - 230px);
    padding-bottom: 10px;
    align-content: flex-start;
}

.users {
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: calc(100vh - 140px);
    width: 100%;
    align-content: flex-start;
    overflow-x: hidden;
}

.users__content {
    width: 100%;
    height: auto;
    padding: 15px 30px 15px 30px;
}

.user__info {
    width: fit-content;
    display: flex;
    align-items: center;
    height: fit-content;
    color: black;
}

.username__participated {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.user {
    width: calc((100% / 3) - 10px);
    height: 70px;
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    background: white;
    justify-content: space-between;
}

.users__view__badges {
    width: 100px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #B1FDD1;
    color: #00D03E;
    cursor: pointer;
}

.users__search {
    height: 45px;
    border-radius: 5px;
    background: white;
    font-size: 16px;
    border: 2px solid black;
    width: calc(100% - 10px);
    align-self: center;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid rgb(226, 226, 226);
    padding: 15px;
    margin-top: 10px;
}

.users__search::placeholder {
    font-size: 14px;
}
.empty__title {
    color: #99D6FF;
}
.users__no__results {
    justify-content: center;
    align-items: center;
    align-content: center;
}
.users__instructions {
    font-size: 12px;
    color: gray;
}

.user__send__friend__request, .user__you__button {
    width: 150px;
    height: 40px;
    background: rgba(59, 250, 139, 0.4);
    color: #00D03E;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}
.user__send__friend__request:disabled, .user__you__button:disabled {
    background: lightgray;
    color: gray;
    cursor: default;
}
.user__mongodb__id {
    display: none;
}