.welcome__container {
    height: calc(100vh - 70px);
    width: 100vw;
}

.welcome__text {
    width: 100%;
    height: calc(100vh - 220px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    bottom: 50px;
}

.welcome__title {
    font-size: 72px;
    letter-spacing: 10px;
    color: white;
    margin-bottom: 5px;
}

.welcome__description {
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.welcome__trynow {
    width: 240px;
    height: 45px;
    border: 1px solid white;
    outline: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(white 0 0) var(--p, 0)/var(--p, 0) no-repeat;
    transition: .6s, background-position 0s;
    background-size: 0 100%;
    font-size: 16px;
}
.welcome__trynow:hover {
    background-size: 100% 100%;
    color: #6E47D2;
}

.welcome__cards {
    width: 100%;
    height: 150px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome__card {
    background: #e3d8ff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .25);
    border-radius: 5px;
    margin-top: -150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome__card__1 {
    width: 200px;
    height: 200px;
    z-index: 2;
}

.welcome__card__2 {
    width: 170px;
    height: 170px;
    z-index: 1;
}

.welcome__card__3 {
    width: 140px;
    height: 140px;
    z-index: 0;
}

.welcome__card__right {
    margin-left: -10px;
}

.welcome__card__left {
    margin-right: -10px;
}

.welcome__feedback__img {
    width: 80px;
}

.welcome__statistic__img {
    width: 70px;
}

.welcome__message__img {
    width: 80px;
}

.welcome__badges__img {
    width: 64px;
    margin-bottom: 7px;
}

.welcome__meet__img {
    width: 128px;
}
.welcome__card span {
    color: #331879;
}